.logged-nav-section {
  display: flex;
}

.username-nav {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: monospace;
  color: black;
}

.brand-nav {
  font-family: monospace;
  font-weight: 600;
}